<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	{% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<meta charset="UTF-8">
	<title>Keep</title>
</head>
<body>
	<header>
		<a id="note-new" class="btn" href="/notes/">Notes</a>
		<a id="note-new" class="btn" href="/notes/new/">New Note</a>
		<p>{{ self.request.user }}</p>
	</header>
	<div class="content-holder">
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>